body{
    background: linear-gradient(to bottom right,#d9e0b6, #E6D7AC);
    scroll-behavior: smooth;
}
.top_links {
    background-color: #d7f397;
    padding: 1rem 1rem;
    margin: 1rem 2rem;
    border-radius: 30px;
    display: inline-block;
  }
.top_links:hover {
    background-color: #ffffff;
    box-shadow: 0rem 0.5rem 0.5rem -0.2rem rgba(0, 0, 0, 0.2);
    transition: all 3s ease;
    transform: rotate(360deg);
}
.container{
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    background-color: yellow;  
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 64px;
    list-style-type: none;
}
.verticle ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
}
.pane{
    display: flex;
    flex-direction: row;
}
.card{
    flex: 1;
}
.mango{
    width: 100%;
}