.hero1 {
    height: 100%;
    background-image: url('../images/panda1.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero1 nav {
    list-style: none;
    padding: 0;
}
.hero2 {
    height: 100%;
    background: linear-gradient(135deg, blue, red); 
    position: relative;
}